.icon {
  width: 22px;
  height: 22px;
}

.dark {
  @mixin dark {
    color: red;
  }
}

[data-mantine-color-scheme='dark'] .dark {
  display: block;
}

[data-mantine-color-scheme='light'] .dark {
  display: none;
}

[data-mantine-color-scheme='dark'] .light {
  display: none;
}

[data-mantine-color-scheme='light'] .light {
  display: block;
}
