.menu {
  padding: 12px;
  background-color: var(--mantine-color-dark-8);
}

.wrapper {
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: stretch;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 12px;
  align-items: center;
}

.title {
  color: var(--mantine-color-bright);
}

.close {
  margin-bottom: 3px;
}

.description {
  grid-column-start: span 2;
  text-justify: inter-word;
  color: var(--mantine-color-dark-2);
}

.footer {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}
