.menu {
  padding: 24px 20px;
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-8)
  );
  border: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-5));
}

.wrapper {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: stretch;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 4px;
  align-items: center;
}

.title {
  color: var(--mantine-color-bright);
}

.close {
  margin-bottom: 3px;
}

.description {
  grid-column-start: span 2;
  text-justify: inter-word;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-6));
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}

.footer {
  margin-top: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}

.pill {
  border: 0.5px solid transparent;
}
