.input {
  outline: 2px;
  border-radius: var(--mantine-radius-md);
  border: 2px solid
    light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-3));

  &:focus {
    outline: 2px solid
      light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-3));
    outline-offset: 2px;
  }
}
