.card {
  background-color: var(--mantine-color-default);
  border: 2px solid
    light-dark(var(--mantine-color-default-border), var(--mantine-color-dark-3));
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  padding-top: var(--mantine-spacing-sm);
  padding-bottom: var(--mantine-spacing-sm);
}

.inner {
  display: flex;
  align-items: center;
  gap: 1rem;

  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
  }
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: auto;
  height: 100%;
}

.label {
  color: var(--mantine-color-bright);
  font-weight: 600;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.tags > * {
  color: var(--mantine-color-dimmed);
  border-color: var(--mantine-color-dimmed);
}

.dificulty {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.icon {
  color: var(--mantine-color-dimmed);
}

.icon:hover {
  color: lighten(var(--mantine-dimmed), 0.9);
}
