.container {
  overflow: hidden;
  background-image: url('/adaBackground.png');
  background-size: 30vw;
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  height: 100vh;
}

@media (max-width: 1200px) {
  .container {
    background-image: none;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  height: 100%;
}
