.title {
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
    font-weight: 900;
}

.label {
    display: inline-block;
    line-height: 1.65;
}
 
.button {
  background-image: linear-gradient(90deg, #222C71 -13.85%, #0C7F98 103.69%);
}