.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 900;
}

.label {
  display: inline-block;
  line-height: 1.65;
}

.button {
  background: linear-gradient(90deg, #222c71 -13.85%, #0c7f98 103.69%);
}
