.side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 1;
  white-space: nowrap;
}

.label {
  color: var(--mantine-color-gray-5);
}

.text {
  color: var(--mantine-color-bright);
  font-weight: 700;
}
