.card {
  background-color: var(--mantine-color-default);
  border: 2px solid
    light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-3));
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  padding-top: var(--mantine-spacing-sm);
  padding-bottom: var(--mantine-spacing-sm);
  transition:
    transform 0.3s ease,
    background-color 0.3s linear;
  min-width: 500px;

  &[data-type='ERROR'] {
    border: 2px solid var(--mantine-color-red-8);
  }
  &[data-type='DISABLED'] {
    border: 2px solid var(--mantine-color-dark-4);
  }
  &[data-type='SUCCESS'] {
    border: 2px solid var(--mantine-color-green-8);
  }
}

[data-clickable='true'].card:hover {
  background-color: lighten(var(--mantine-color-default), 0.9);
  cursor: pointer;
  transform: scale(1.015);
}

[data-clickable='true'].card:active {
  transform: scale(1.01);
}

.inner {
  display: flex;
  align-items: center;
  gap: 1rem;

  & > :nth-child(4) {
    flex-shrink: 0;
  }
}
